* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'verdana', sans-serif;
}
:root {
    cor-cabecalho: "#5572cb"
}
body {
    display: flex;
    justify-content: center;
}

main {
    /* margin-top: 20px; */
    width: 70%;
}

main section {
    margin: 20px 0 50px;
}

table {
    width: 100%;
    /* border: 1px solid #5572cb; */
    /* border: none; */
    border-collapse: collapse;
    font-size: 11px;
    margin: 7px 0 20px;
}

table th {
    text-align: left;
    background-color: #5b79c4;
    color: white;
}

table td, table th {
    /* height: 30px; */
    padding: 7px;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
table tr:nth-child(odd) {
    background-color: #e0edf8;
}

table .deletar-materia {
    color: rgb(162, 0, 0);
}

table .deletar-materia:hover {
    color: rgb(255, 2, 2);
    cursor: pointer;
}

.btn {
    border-radius: 3px;
    padding: 5px 10px;
    /* background-color: #73cc4d; */
    border: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.btn:hover {
    /* background-color: #ffffff5f; */
    /* fill-opacity: 50%; */
    opacity: 87%;
    cursor: pointer;
}

.btn-salvar {
    background-color: #73cc4d;
}
.btn-add-subject {
    background-color: #5b79c4;
}

table#table-horarios {
    table-layout: fixed;
}

table#table-horarios td{
    height: 30px;
    /* color: #3b5cb0; */
    color: #2a4fae;
    /* font-weight: ; */
}

table#table-horarios th,  table#table-horarios td {
    text-align: center;
}

table#table-horarios tr td:first-child {
    font-weight: bold;
    color: #5b79c4;
}

table#table-horarios tr td:not(:first-child) {
    border-left: 1px solid #d9edfc;
    text-align: center;
}

table#table-horarios tr:not(:first-child){
    height: 53px;
}

input[type="checkbox"] {
    /* appearance: none; */
    height: 15px;
    width: 15px;
    /* background-color: gray; */
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

table#table-horarios td.conflict {
    background-color: rgba(255, 124, 124, 0.3);
}

.form-create-subject {
    position: fixed;
    background-color: #00000071;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.form-create-subject .content-form {
    width: 400px;
    padding: 50px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-create-subject form{
    width: 100%;
    /* border: 1px solid #5b79c4; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    /* background-color: white; */
}

.form-create-subject form div {
    display: flex;
    flex-direction: column;
    
}

form input {
    /* height: 27px; */
    border: none;
    border-radius: 5px;
    background-color: #dedede;
    padding: 7px;
    /* outline: 1px solid green; */
    font-size: 11px;
}

input:focus {
    outline: 1px solid #5b79c4;
}

.form-create-subject button{
    background-color: #5b79c4;
}

.form-create-subject #submit-form-create-subject{
    background-color: #73cc4d;
}

button {
    display: di;
}
